//Vertical typography rhythm from https://scotch.io/tutorials/aesthetic-sass-3-typography-and-vertical-rhythm

//http://www.modularscale.com/?2.25&rem&1.2
$type-settings: (
        -1: (
                font-family: $fontFamily,
                font-size: 1.875rem,
                font-weight: 300,
                line-height: 3rem,
                letter-spacing: 0.4px
        ),
        0: (
                font-family: $fontFamily,
                font-size: 2.25rem,
                font-weight: 300,
                line-height: 3rem,
                letter-spacing: 0.3px
        ),
        1: (
                font-family: $fontFamily,
                font-size: 2.7rem,
                font-weight: 300,
                line-height: 3rem,
                letter-spacing: 0.2px
        ),
        2: (
                font-family: $fontFamily,
                font-size: 3.24rem,
                font-weight: 200,
                line-height: 4rem,
                letter-spacing: 0.1px
        ),
        3: (
                font-family: $fontFamily,
                font-size: 3.888rem,
                font-weight: 200,
                line-height: 4rem,
                letter-spacing: 0
        )
);

@function type-family($level) {
  @return map-get(map-get($type-settings, $level), 'font-family');
}

@function type-scale($level) {
  @return map-get(map-get($type-settings, $level), 'font-size');
}

@function type-weight($level) {
  @return map-get(map-get($type-settings, $level), 'font-weight');
}

@function line-height($level) {
  @return map-get(map-get($type-settings, $level), 'line-height');
}

@function letter-spacing($level) {
  @return map-get(map-get($type-settings, $level), 'letter-spacing');
}

@mixin type-setting($level) {
  font-family: type-family($level);
  font-size: type-scale($level);
  font-weight: type-weight($level);
  line-height: line-height($level);
  letter-spacing: letter-spacing($level);
}

html {
  font-size: $remBase;
  word-wrap: break-word;
}

body {
  line-height: 0;
}

.container {
  @include type-setting(0);
}

h1, .h1 {
  @include type-setting(3);
  margin: 0;

  margin-bottom: 1rem;
  @include breakpointUp(lg) {
    margin-bottom: 2rem;
  }
}

h2, .h2 {
  @include type-setting(3);
  margin: 0;

  margin-bottom: 1rem;
  @include breakpointUp(lg) {
    margin-bottom: 2rem;
  }
}

h3, .h3 {
  @include type-setting(1);
  margin-top: 0;
}

.text-center {
  text-align: center;

  @include breakpointUp(md) {
    &-md {
      text-align: center;
    }
  }
}

//Vertical height rhythm grid (remove _HIDDEN suffix to display)
body_HIDDEN::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000vh;
  z-index: 10000;
  pointer-events: none;

  background-image: linear-gradient(rgba(turquoise, 0.2) 1px, transparent 1px)
  /*,linear-gradient(to left, rgba(turquoise, 0.5) 1px, transparent 1px)*/;
  background-size: 1rem 1rem;
}